# Copia a .env y ajusta valores
# cp .env.example .env

# URLs del servidor de inferencia (todas desde environment)
INFERENCE_BASE=https://10.1.30.213:5000
LOGIN_URL=https://10.1.30.213:5000/sol_server/login
PRINCIPAL_INFERENCE_URL=https://10.1.30.213:5000/v2/sol_server/inference?=

LOGIN_USERNAME=admin
LOGIN_PASSWORD=admin
PRINCIPAL_FLOW_URL=test_441e90294348a1a1
TOKEN_TTL_MINUTES=30

# Intervalo entre capturas automáticas (ms)
CAPTURE_INTERVAL_MS=500

# Timeout máximo para obtener un frame RTSP (ms)
CAPTURE_TIMEOUT_MS=25000
